*{
    padding: 0px;
    margin: 0%;

    text-align: center;
}

.heading{
   padding: 50px;
   background-color: bisque;
}

.visit_cont{
    padding: 10px;
}

.link_cont{
    display: flex;
    align-items: center;
    gap: 20px;
}

.link_cont a{
    text-decoration: none;
    color: black;
}

.link_cont a:hover{
    cursor: pointer;
    color: blue;
}

.ind_link{
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
}

.ind_link img{
    margin: 10px;
    max-width: 200px;
    width: 200px;
    border-radius: 20px;
    height: 200px;
}



