body {
    font-family:'Times New Roman', Times, serif;
    background-color:tomato;
    text-align: center;
    border: 2px solid black;
    border-radius: 12px;
    padding: 5px;
}
h1 {
    text-shadow: 2px 2px 5px red;
}
p {
    margin: 25px 75px 25px;
}